@import "tailwindcss";

.maga1{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 50px;
    border-top-left-radius: 15px;
}
.maga2{
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
}
.maga3{
    border-bottom-left-radius: 70px;
}